---
import Footer from "@components/footer/footer.astro";
import Header from "@components/header/header.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
---

<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

<div>
  <Header />
  <h1>About</h1>
  <Footer />
</div>
