---
import Entry from "../components/entry/Entry.astro";
// import Footer from "@components/footer/footer.astro";
// import UvodoCommunity from "@components/uvodo-community/uvodo-community.astro";
// import UvodoFeedback from "@components/uvodo-feedback/uvodo-feedback.astro";
// import UvodoInfo from "@components/uvodo-info/uvodo-info.astro";
// import UvodoPaymentDeveloper from "@components/uvodo-payment-developer/uvodo-payment-developer.astro";
// import UvodoWork from "@components/uvodo-work/uvodo-work.astro";
import BaseHead from "../components/BaseHead.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      rel="stylesheet"
      href="node_modules/keen-slider/keen-slider.min.css"
    />
  </head>
  <body>
    <div>
      <!-- <Header /> -->
      <Entry />
      <!-- <UvodoInfo />
      <UvodoWork />
      <UvodoPaymentDeveloper />
      <UvodoFeedback />
      <UvodoCommunity />
      <Footer /> -->
    </div>
    <style>
      .home {
        background: #f3f2fd;
      }
    </style>
  </body>
</html>
