---
import ProductImage from "@/images/products.webp";
import { Image } from "@astrojs/image/components";
import styles from "./uvodo-for.module.scss";
---

<section>
  <div class={styles.uvodoInfo}>
    <div class={styles.left}>
      <span class="badge">API-FIRST</span>
      <h2>What is Uvodo and who is it for?</h2>
      <p>
        Praesent quis lorem a dui ultricies tristique. Duis vehicula, mauris sed
        pharetra laoreet, magna magna ligula.
      </p>
      <a href="/" class="btnBox"> <span class="btn">Learn more</span></a>
    </div>

    <div class={styles.right}>
      <Image src={ProductImage} alt="Product list" />
    </div>
  </div>
</section>
